@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 1rem = 10px.
}

body {
    font-size: 1.9rem;
    padding: 2rem;    
}

